<div class="rabbitTrail">profile</div>
<div class="topBox">
	<h1 class="title">
	  <%= @user.full_name %>
		<%= link_to('Edit Profile', edit_user_path(current_user)) if @user == current_user %>
	</h1>
	<div class="profile">
		<table class="common_TABLE">
			<tbody>
				<tr><td class="col1">Profile Picture</td>	<td class="col2"><img src="../images/" width="200"></td></tr>
				<tr><td class="col1">Joined</td>			<td class="col2"><%= @user.created_at.to_s(:short_ordinal) %></td></tr>
				<tr><td class="col1">Email</td>				<td class="col2"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></td></tr>
				<tr><td class="col1">Bio</td>				<td class="col2"><%= @user.bio %></td></tr>
				<tr><td class="col1">Skills<br>(comma separated)</td><td class="col2"><%= @user.skillkeywords %></td></tr>
			</tbody>
		</table>
	</div>
</div>

