    		<div class="project">
    			<table class="common_TABLE">
    				<thead>
    					<tr><th colspan="2"></th></tr> <!-- important for the top border -->
    				</thead>
    				<tfoot>
    					<tr><td colspan="2"><div class="tableLinks">
                <div>
                  <%- if @project.creator == @user -%>
                    <%= link_to('Edit Project', edit_project_path(@project)) %>
                  <%- end -%>
                <%= link_to('Get Involved', new_project_project_member_path(@project)) %></div></td></tr>
                </div> 
    				</tfoot>
            <tbody>
              <tr><td class="col1">Purpose</td>     <td class="col2"><%= @project.purpose %></td></tr>
              <tr><td class="col1">Created</td>     <td class="col2"><%= @project.created_at.to_s(:short_ordinal) %></td></tr>
              <tr><td class="col1">Project Type</td>    <td class="col2"><%= @project.type %></td></tr>
              <tr><td class="col1">Description</td>   <td class="col2"/><%= @project.description %></tr>
              <tr><td class="col1">Skills Needed</td>   <td class="col2"><%= @project.skills_needed %></td></tr>
              <tr><td class="col1">Resources Needed</td>  <td class="col2"/><%= @project.resources_needed %></tr>
              <tr><td class="col1">Estimated Length</td>  <td class="col2"><%= @project.estimated_days %> days</td></tr>
              <tr><td class="col1">Status</td>      <td class="col2"><%= @project.status %></td></tr>
              <tr><td class="col1">Scope</td>       <td class="col2"><%= @project.scope %></td></tr>
              <tr><td class="col1">Seeking Volunteers</td><td class="col2"><%= @project.seeking_volunteers_human %></td></tr>
              <tr><td class="col1">Hiring</td>      <td class="col2"><%= @project.hiring_human %></td></tr>
              <tr><td class="col1">Website</td>     <td class="col2"><a target="_blank" href="<%= @project.website %>"><%= @project.website %></a></td></tr>
              <tr class="last"><td class="col1">Hosting home</td>   <td class="col2"><%= @project.hosting_home %></td></tr>
            </tbody>
    			</table>
    		</div>
