<td class="left">
  <div class="indent">
    <div class="rabbitTrail">projects</div>
    <div class="topBox">
      <%- if @project -%>
      <h1 class="title">
        <div>
          <%- unless @project == @projects.first -%><%= link_to('« Previous', @projects[@index - 1]) %><%- end %>
          <%- unless @project == @projects.last -%><%= link_to('Next »', @projects[@index + 1]) %><%- end %>
        </div><%= @project.name %>
      </h1>

    	<div class="text">
        <%= render :partial => 'project_info' %>
    	</div>
      <%- end -%>
    </div>
    <div class="lowerBox">
      <%- if @project -%>
    	<h1 class="title">Project members</h1>
    	<div class="text">		
    	  <%- if current_user -%>		
          <%= render :partial => @project.project_members %>
        <%- else -%>
          <p>There are <%= pluralize( @project.project_members.length, 'person') %> involved in this project.</p>
          <p><a href="/login">Login</a> to see them.</p>
        <%- end -%>
  		</div>
  		<%- end -%>
    </div>
  </div>
</td>
<td class="right">
  <div class="indent alt">
    <div class="text">
      <%= link_to('<span>Create a New Project</span>', new_project_path, :class => "bigButton") %>
    </div>
  </div>
  <div class="indent">
    <img src="/images4/GTD_right_bgTop.gif" alt="" />
    <div class="text">
      <h2 class="title">Recent Projects</h2>
      <%= render :partial => @projects %>
      <div class="links"><%= link_to('Create a New Project', new_project_path) %></div>
    </div>
    <img alt="" src="/images4/GTD_right_bgBot.gif"/>
  </div>
</td>
